# SPDX-FileCopyrightText: 2022 Alec Delaney, for Adafruit Industries
#
# SPDX-License-Identifier: Unlicense

Adafruit-Blinka
adafruit-circuitpython-register
adafruit-circuitpython-busdevice

PyVISA~=1.13.0
numpy~=1.26.0
requests~=2.31.0
matplotlib~=3.9.1
pyserial~=3.5
pandas~=2.1.1
colorama~=0.4.6
nidaqmx~=1.0.0
VotschTechnikClimateChamber~=0
pip~=24.0
lxml~=4.9.2
tornado~=6.4
typing_extensions~=4.8.0
setuptools~=57.4.0
Cython~=3.0.7
future~=0.18.3